// Global - One fall

@import "functions";
@import "mixins/typography";

*,
*:before,
*:after,
input,
input[type="text"],
input[type="search"], {
  box-sizing: border-box;
}

html,
body {
  font-size: em-calc(map-deep-get($typographic-scale, "base", "body"));
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  @include line-height();
  color: $black;
  font-family: $light;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @include ie(8) {
    min-width: 960px;
    article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
    audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
    audio:not([controls]) { display: none; }
    [hidden] { display: none; }
  }
}

.of-bg {
  background: $repo-light-grey;
}
