<a href="event.html" class="of-page-card__link">
    <section class="of-page of-page-card h-event">
        <h3 class="of-page-card__title p-name">FUTURE SHOCK: UPROAR</h3>
        <time class="of-page-card__date dt-start" datetime="2017-01-22">
            <span class="of-page-card__date--day">Sun</span>
            <span class="of-page-card__date--date">22</span>
            <span class="of-page-card__date--month">Jan</span>
        </time>
        <div class="of-page-card__location p-location">
            <span class="of-page-card__location__city">Stockport, UK</span>
            <span class="of-page-card__location__venue">Stockport Guild Hall</span>
        </div>
    </section>
</a>
