<section class="of-page-card h-event">
    <h1 class="of-hero__title of-page-card__title of-page-card__title--hero p-name">FUTURE SHOCK: UPROAR</h1>
    <time class="of-page-card__date of-page-card__date--hero dt-start" datetime="2017-01-22">
        <span class="of-page-card__date--day">Sun</span>
        <span class="of-page-card__date--date">22</span>
        <span class="of-page-card__date--month">Jan</span>
    </time>
    <div class="of-page-card__location of-page-card__location--hero p-location">
        <span class="of-page-card__location__city of-page-card__location__venue--hero">Stockport, UK</span>
        <span class="of-page-card__location__venue of-page-card__location__venue--hero">Stockport Guild Hall</span>
    </div>
    <a href="#" class="of-btn of-btn--medium of-page-card__button--hero">Visit website</a>
</section>
