// Navigation - One fall

.of-primary-nav,
.of-secondary-nav {
  display: inline-block;
  float: left;
  margin-bottom: 0;
  margin-left: 0;

  @include media(medium) {
    margin-left: $half-spacing-unit;
  }

  @include media(large) {
    margin-left: $half-spacing-unit;
  }

  li {
    padding: $quarter-spacing-unit 10px 0 0;

    @include media(xsmall) {
      position: relative;
      top: -3px;
      padding: $quarter-spacing-unit $quarter-spacing-unit/2 0 0px;
    }

    @include media(small) {
      position: relative;
      top: -3px;
      padding: $quarter-spacing-unit $quarter-spacing-unit 0 10px;
    }

    @include media(large) {
      padding: $half-spacing-unit $quarter-spacing-unit;
    }
  }
}

.of-secondary-nav {
  position: absolute;
  top: 0px;
  //float: none;

  @include media(large) {
    position: static;
    float: right;
  }

  li {
    padding: $quarter-spacing-unit $quarter-spacing-unit 0 0;

    @include media(large) {
      padding: $half-spacing-unit 0 0 $half-spacing-unit;
    }
  }
}

.of-primary-nav__link {

  color: $white;
  border-bottom: 0;

  &:hover {
    color: $white;
    border-bottom: .075em solid $white;
  }
}


// Page tools

.of-page-tools {
  @include clearfix;
  @include spacing('margin', 'bottom', 'quarter');
}

.of-page-tools__link {
  display: inline-block;
  font-size: em-calc(16);

  @include media(medium) {
    font-size: em-calc(18);
  }
}

.of-page-tools__link--left {
    float: left;
}

.of-page-tools__link--right {
    float: right;
}
