// Lists mixins - One fall

@mixin list {
  margin-bottom: $half-spacing-unit;
}

@mixin list-bare {
  list-style-type: none;
  padding: 0;
}

@mixin list-inline {
  @include list-bare;

  li {
    display: inline-block;
  }
}  
