---
layout: default
id: event
---

{% include heros/hero-event.html %}

<div class="wrap">
    <div class="row">
        <div class="large-9 small-12 column">
            <div class="of-page">
                <section>
                    <h2>Card</h2>
                    <p>To be confirmed.</p>
                    <h2>Venue</h2>
                    <p>O2 Ritz
                    Whitworth Street West<br>
                    M1 5NQ<br>
                    Manchester, UK<br>
                    <a href="tel:01612364355">0161 236 4355</a></p>
                </section>
                <aside>
                    <h2>More Progress events</h2>
                    {% include cards/card-event-page.html %}
                    {% include cards/card-event-page.html %}
                    {% include cards/card-event-page.html %}
                </aside>
            </div>
        </div>
        <div class="large-3 small-12 column">
            {% include sidebar.html %}
        </div>
    </div>
</div>
