---
layout: default
id: index
---

{% include heros/hero-search.html %}

<div class="wrap">
    <div class="row">
        <div class="large-9 small-12 column">
            <section class="of-page">
                <h2>Popular UK locations</h2>
                <div class="row">
                    <div class="large-4 medium-6 small-6 xsmall-6 column">
                        <h3>North West</h3>
                        <ul class="list-bare">
                            <li><a href="#">Chester</a></li>
                            <li><a href="#">Crewe</a></li>
                            <li><a href="#">Preston</a></li>
                            <li><a href="listings.html">Manchester</a></li>
                        </ul>
                    </div>
                    <div class="large-4 medium-6 small-6 xsmall-6 column">
                        <h3>North West</h3>
                        <ul class="list-bare">
                            <li><a href="#">Chester</a></li>
                            <li><a href="#">Crewe</a></li>
                            <li><a href="#">Preston</a></li>
                            <li><a href="listings.html">Manchester</a></li>
                        </ul>
                    </div>
                    <div class="large-4 medium-6 small-6 xsmall-6 column">
                        <h3>North West</h3>
                        <ul class="list-bare">
                            <li><a href="#">Chester</a></li>
                            <li><a href="#">Crewe</a></li>
                            <li><a href="#">Preston</a></li>
                            <li><a href="listings.html">Manchester</a></li>
                        </ul>
                    </div>
                    <div class="large-4 medium-6 small-6 xsmall-6 column">
                        <h3>North West</h3>
                        <ul class="list-bare">
                            <li><a href="#">Chester</a></li>
                            <li><a href="#">Crewe</a></li>
                            <li><a href="#">Preston</a></li>
                            <li><a href="listings.html">Manchester</a></li>
                        </ul>
                    </div>
                    <div class="large-4 medium-6 small-6 xsmall-6 column">
                        <h3>North West</h3>
                        <ul class="list-bare">
                            <li><a href="#">Chester</a></li>
                            <li><a href="#">Crewe</a></li>
                            <li><a href="#">Preston</a></li>
                            <li><a href="listings.html">Manchester</a></li>
                        </ul>
                    </div>
                    <div class="large-4 medium-6 small-6 xsmall-6 column">
                        <h3>North West</h3>
                        <ul class="list-bare">
                            <li><a href="#">Chester</a></li>
                            <li><a href="#">Crewe</a></li>
                            <li><a href="#">Preston</a></li>
                            <li><a href="listings.html">Manchester</a></li>
                        </ul>
                    </div>
                    <div class="large-4 medium-6 small-6 xsmall-6 column">
                        <h3>North West</h3>
                        <ul class="list-bare">
                            <li><a href="#">Chester</a></li>
                            <li><a href="#">Crewe</a></li>
                            <li><a href="#">Preston</a></li>
                            <li><a href="listings.html">Manchester</a></li>
                        </ul>
                    </div>
                    <div class="large-4 medium-6 small-6 xsmall-6 column">
                        <h3>North West</h3>
                        <ul class="list-bare">
                            <li><a href="#">Chester</a></li>
                            <li><a href="#">Crewe</a></li>
                            <li><a href="#">Preston</a></li>
                            <li><a href="listings.html">Manchester</a></li>
                        </ul>
                    </div>
                    <div class="large-4 medium-6 small-6 xsmall-6 column">
                        <h3>North West</h3>
                        <ul class="list-bare">
                            <li><a href="#">Chester</a></li>
                            <li><a href="#">Crewe</a></li>
                            <li><a href="#">Preston</a></li>
                            <li><a href="listings.html">Manchester</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
        <div class="large-3 small-12 column">
            {% include sidebar.html %}
        </div>
    </div>
</div>
