---
layout: default
id: listings
---

<div class="wrap">
    <div class="row">
        <div class="large-9 small-12 column">
            <h1 class="of-page-title">
                <span class="of-page-title__lead">Professional Wrestling in</span>
                Manchester
            </h1>
            <div class="of-page-tools">
                <a href="#" class="of-page-tools__link of-page-tools__link--left">Change location</a>
                <a href="#" class="of-page-tools__link of-page-tools__link--right">Add an event</a>
            </div>
            <h2 class="of-page-month">January 2017</h2>
            {% include cards/card-event.html %}
            <h2 class="of-page-month">February 2017</h2>
            {% include cards/card-event.html %}
            {% include cards/card-event.html %}
            {% include cards/card-event.html %}
            {% include cards/card-event.html %}
        </div>
        <div class="large-3 small-12 column">
            {% include sidebar.html %}
        </div>
    </div>
</div>
